<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{feed-and-promotion}"></title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>

</head>
<body>
<span class="screen-darken"></span>
<!-- loader Start -->
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<!-- loader END -->
<main class="main-content">
    <!--Nav Start-->
    <th:block th:insert="~{fragments/publicPage.html :: navFirstLevel}"></th:block>
    <th:block th:insert="~{fragments/publicPage.html :: navSecondLevel}"></th:block>
    <article class="top-image mb-3">
        <figure>
            <img th:src="@{/image/background-feeds.jpeg}" width="100%" height="450">
        </figure>
    </article>
    <!--Nav End-->
    <div class="container-xl">
        <article class="main-content-block">
            <div class="col my-4">
                <div class="col-2 mx-auto">
                    <th:block th:if="${not #lists.isEmpty(allFeedPages)}">
                        <th:block th:if="${allFeedPages[0].feedType.name()} == 'FEED'">
                            <h3 th:text="#{label.menu.feeds}"></h3>
                        </th:block>
                        <th:block th:unless="${allFeedPages[0].feedType.name()} == 'FEED'">
                            <h3 th:text="#{promotions}"></h3>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${not #lists.isEmpty(allFeedPages)}">
                        <h3 class="text-center text-info" th:text="'Акцій немає'"></h3>
                    </th:block>

                </div>
            </div>
            <div class="main">
                <div class="text-block d-flex" style="column-gap: 3rem; width: 100%">
                    <div style="max-width: 78%; width: 78%">
                        <div class="feeds-card-list d-grid grid-cols--3 gap-4">
                            <div class="feed-card" th:each="feed : ${allFeedPages}">
                                <figure class="feed-card-img rounded-1" style="aspect-ratio: 1/1">
                                    <img th:src="@{{logoImage}(logoImage=${!#strings.isEmpty(feed.mainImage)} ? '/Kino_CMS_O_Lesyk/uploads/' + ${feed.mainImage} : '')}">
                                </figure>
                                <div class="feed-card-title">
                                    <a th:href="@{/feed/{feedId}(feedId=${feed.id})}"
                                       th:text="${feed.title}"></a>
                                </div>
                                <div class="feed-card-subtitle d-flex flex-wrap gap-1">
                                    <span class="feed-card-publish-date text-bg-secondary px-2 rounded-5"
                                          th:text="${feed.publishDateString}"></span>
                                    <span class="feed-card-tags text-bg-success px-2 rounded-5"
                                          th:each="tag : ${feed.tags}" th:text="${tag}"></span>
                                </div>
                                <div class="feed-card-description">
                                    <p th:text="${feed.seoDescription}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="sidebar-right">
                        <th:block
                                th:insert="~{fragments/publicPage.html :: context-advertising(heigth='200')}"></th:block>
                        <th:block
                                th:insert="~{fragments/publicPage.html :: context-advertising(heigth='400')}"></th:block>
                    </aside>
                </div>
            </div>
        </article>
    </div>
    <!-- Footer Section Start -->
    <th:block th:insert="~{fragments/publicPage.html :: footer}"></th:block>
    <!-- Footer Section End -->
</main>
<script>
    $(document).ready(function () {
        var images = $("img");
        for (var i = 0; i < images.length; i++) {
            if (!images[i].complete || images[i].naturalWidth === 0) {
                images[i].src = window.location.pathname.substring(0, 18) + 'image/placeholder_images.svg';
            }
        }
    });
</script>

<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>
<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>