<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редагування користувача</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/assets/css/core/libs.min.css"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/assets/css/hope-ui.min.css?v=2.0.0"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/custom.min.css?v=2.0.0"/>
    <!-- Dark Css -->
    <link rel="stylesheet" href="/assets/css/dark.min.css"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/assets/css/customizer.min.css"/>
    <!-- RTL Css -->
    <link rel="stylesheet" href="/assets/css/rtl.min.css"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" href="/assets/vendor/flatpickr/dist/flatpickr.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="fragments/sidebar"></aside>
<main class="main-content">
    <nav th:replace="fragments/navbar_admin"></nav>

    <div class="container-fluid" style="padding: 5rem 2rem;">
        <form class="needs-validation" th:method="post" th:object="${user}" novalidate>
            <div class="row">
                <div class="col-sm-6 gx-5 ">
                    <div class="row mb-4">
                        <label for="name" class="col col-form-label-sm">Ім'я</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" th:field="*{firstName}"
                                   class="form-control form-control-sm"
                                   required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <label for="last" class="col-sm-4 col-form-label-sm">Прізвище</label>
                        <div class="col-sm-8">
                            <input type="text" id="last" th:field="*{lastName}"
                                   class="form-control form-control-sm" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="username" class="col-sm-4 col-form-label-sm">Псевдонім</label>
                        <div class="col-sm-8">
                            <input type="text" id="username" th:field="*{username}"
                                   class="form-control form-control-sm" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="email" class="col-sm-4 col-form-label-sm">E-Mail</label>
                        <div class="col-sm-8">
                            <input type="text" id="email" th:field="*{email}" class="form-control form-control-sm"
                                   required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="address" class="col-sm-4 col-form-label-sm">Адреса</label>
                        <div class="col-sm-8">
                            <input type="text" id="address" th:field="*{address}"
                                   class="form-control form-control-sm" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
<!--                    <div class="row mb-4">-->
<!--                        <label for="password" class="col-sm-4 col-form-label-sm">Пароль</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input type="text" id="password" th:field="*{password}"-->
<!--                                   class="form-control form-control-sm" required>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Обов'язкове поле-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row mb-4">
                        <label for="card_number" class="col-sm-4 col-form-label-sm">Номер карти</label>
                        <div class="col-sm-8">
                            <input type="text" id="card_number" th:field="*{cardNumber}"
                                   class="form-control form-control-sm" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 gx-5">
                    <div class="row mb-4 align-items-center">
                        <label class="col-sm-4 col-form-label-sm">Мова</label>
                        <div class="col-sm-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="language"
                                       th:field="*{language}" id="language1"
                                       th:value="UKRAINIAN" required>
                                <div class="invalid-feedback">
                                    Обов'язкове поле
                                </div>
                                <label class="form-check-label small" for="language1">Українська</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="language" id="language2"
                                       value="ENGLISH" th:field="*{language}">
                                <label class="form-check-label small" for="language2">English</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label class="col-sm-4 col-form-label-sm">Стать</label>
                        <div class="col-sm-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" id="sex1"
                                       value="Male" th:field="*{sex}" required>
                                <div class="invalid-feedback">
                                    Обов'язкове поле
                                </div>
                                <label class="form-check-label small" for="sex1">Чоловік</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" id="sex2"
                                       value="Female" th:field="*{sex}">
                                <label class="form-check-label small" for="sex2">Жінка</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="phone" class="col-sm-4 col-form-label-sm">Телефон</label>
                        <div class="col-sm-8">
                            <input type="text" id="phone" class="form-control form-control-sm"
                                   th:field="*{phone}" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="date_of_birth" class="col-sm-4 col-form-label-sm">Дата народження</label>
                        <div class="col-sm-8">
                            <input type="date" id="date_of_birth" class="form-control form-control-sm"
                                   th:field="*{dateOfBirth}" required>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="city" class="col-sm-4 col-form-label-sm">Місто</label>
                        <div class="col-sm-8">
                            <select class="form-select form-select-sm col-sm-9 text-capitalize"
                                    aria-label="form-select-lg"
                                    id="city" required
                                    th:field="*{city}">
                                <option value="">Оберіть місто</option>
                                <option th:each="city : ${allCities}"
                                        th:value="${city}"
                                        th:text="${city}"></option>
                            </select>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
<!--                    <div class="row mb-4">-->
<!--                        <label for="confirmPassword" class="col-sm-4 col-form-label-sm">Повторіть пароль</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input type="text" id="confirmPassword" class="form-control form-control-sm"-->
<!--                                   required>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Обов'язкове поле-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-grid gap-2 col-3 mx-auto">
                    <button type="submit" class="btn btn-outline-primary">Зберегти
                    </button>

                </div>
            </div>
            <div class="hidden">
                <input type="hidden" th:field="${user.createTime}">
                <input type="hidden" th:field="${user.id}">
            </div>
        </form>
    </div>

</main>

<script src="/assets/js/core/libs.min.js"></script>

<!-- External Library Bundle Script -->
<script src="/assets/js/core/external.min.js"></script>

<!-- Widgetchart Script -->
<script src="/assets/js/charts/widgetcharts.js"></script>

<!-- mapchart Script -->
<script src="/assets/js/charts/vectore-chart.js"></script>
<script src="/assets/js/charts/dashboard.js"></script>

<!-- fslightbox Script -->
<script src="/assets/js/plugins/fslightbox.js"></script>

<!-- Settings Script -->
<script src="/assets/js/plugins/setting.js"></script>

<!-- Slider-tab Script -->
<script src="/assets/js/plugins/slider-tabs.js"></script>

<!-- Form Wizard Script -->
<script src="/assets/js/plugins/form-wizard.js"></script>

<!-- AOS Animation Plugin-->
<script src="/assets/vendor/aos/dist/aos.js"></script>
<!-- App Script -->
<script src="/assets/js/hope-ui.js" defer></script>

<!--<script type="text/javascript" th:src="@{/js/validate.js}"></script>-->
</body>
</html>