<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="'Фільм ' + ${filmDto.name}"></title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>

    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>

    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>

    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>

    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>


</head>
<body class="">
<span class="screen-darken"></span>
<!-- loader Start -->
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<!-- loader END -->
<main class="main-content">
    <!--Nav Start-->
    <th:block th:insert="~{fragments/publicPage.html :: navFirstLevel}"></th:block>
    <th:block th:insert="~{fragments/publicPage.html :: navSecondLevel}"></th:block>
    <!--Nav End-->

    <div class="container-xl">
        <article class="video-prev mt-5">
            <div class="embed-responsive embed-responsive-16by9"
                 style="background-image: url('/image/placeholder_images.svg')">
                <iframe width="100%" height="498" th:src="*{filmDto.urlVideo}" allowfullscreen></iframe>
            </div>
        </article>
        <article class="timetable w-75 mx-auto">
            <div>
                <div class="row d-flex flex-row mb-3">
                    <span class="h4 col-5" th:text="#{timetable-cinemas}">Розклад сеансів кінотеатру:</span>
                    <div class="col-2">
                        <select class="form-select form-select-sm col-sm-2"
                                aria-label="form-select-lg"
                                id="cinema">
                            <option th:each="filmSeesion : ${filmSessionList}"
                                    th:value="${filmSeesion.cinema.id}"
                                    th:text="${filmSeesion.cinema.name}"></option>
                        </select>
                    </div>
                    <div class="col-3">
                        <span class="border-2 border-primary">Всі</span>
                        <span class="border-2">3D</span>
                        <span class="border-2">2D</span>
                    </div>
                </div>
                <div class="row d-grid grid-cols--7 gap-3">
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="col numberDay h3">18 Th</div>
                        <div class="col currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                    <div class="day d-flex flex-column align-items-center p-0">
                        <div class="numberDay h3">18 Th</div>
                        <div class="currentMonth h4">August</div>
                    </div>
                </div>
                <div class="sessions row d-flex flex-row gap-3 mt-3">
                    <div class="session-item col-2 d-flex flex-column align-items-center p-0" th:each="sessionItem : ${filmSessionList}">
                        <div class="d-flex flex-row">
                            <span class="hours h3" th:text="${sessionItem.dateTime.hour} + ':' + ${sessionItem.dateTime.minute}"></span>
                            <span class="film-type h4" th:text="${sessionItem.filmType.description}"></span>
                        </div>
                        <div class="d-flex flex-row">
                            <span class="hall" th:text="${sessionItem.hall.name}"></span>
                            <span class="price" th:text="${sessionItem.price}"></span>
                        </div>
                    </div>
                </div>

            </div>
        </article>
        <article class="film-details">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-5 film-img">
                        <figure>
                            <img th:src="@{{logoImage}(logoImage=${!#strings.isEmpty(filmDto.mainImage)} ? '/Kino_CMS_O_Lesyk/uploads/' + *{filmDto.mainImage} : '')}"
                                 style="width: 100%; height: 26rem">
                        </figure>
                    </div>
                    <div class="col-6 film-description">
                        <button class="btn btn-soft-success" th:text="#{buy-ticket}">Купити білет</button>
                        <span class="h4" th:text="${filmDto.name}"></span>
                        <p class="film-description-text" th:text="${filmDto.description}"></p>
                    </div>
                </div>
                <div class="row justify-content-between mt-4">
                    <div class="col-5 film-detail table-responsive">
                        <table class="table table-dark table-sm table-bordered">
                            <tbody>
                            <tr th:if="${filmDetails.year}">
                                <td th:text="#{film-year}"></td>
                                <td th:text="${filmDetails.year}"></td>
                            </tr>
                            <tr th:if="${filmDetails.country}">
                                <td th:text="#{film-country}"></td>
                                <td th:text="${filmDetails.country}"></td>
                            </tr>
                            <tr th:if="${filmDetails.compositor}">
                                <td th:text="#{film-compositor}"></td>
                                <td th:text="${filmDetails.compositor}"></td>
                            </tr>
                            <tr th:if="${filmDetails.producer}">
                                <td th:text="#{film-producer}"></td>
                                <td th:text="${filmDetails.producer}"></td>
                            </tr>
                            <tr th:if="${filmDetails.scenarist}">
                                <td th:text="#{film-scenarist}"></td>
                                <td th:text="${filmDetails.scenarist}"></td>
                            </tr>
                            <tr th:if="${filmDetails.genre}">
                                <td th:text="#{film-genre}"></td>
                                <td th:text="${filmDetails.genre}"></td>
                            </tr>
                            <tr th:if="${filmDetails.budget}">
                                <td th:text="#{film-budget}"></td>
                                <td th:text="${filmDetails.budget}"></td>
                            </tr>
                            <tr th:if="${filmDetails.fromAge}">
                                <td th:text="#{film-age}"></td>
                                <td th:text="${filmDetails.fromAge}"></td>
                            </tr>
                            <tr th:if="${filmDetails.duration}">
                                <td th:text="#{film-duration}"></td>
                                <td th:text="${filmDetails.duration}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 film-img-slider d-flex flex-column">
                        <span class="h4 mb-3 mx-auto" th:text="#{frames-and-posters}">Кадри та постери</span>
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button th:each="images, iter : ${filmImages}" type="button"
                                        data-bs-target="#carouselExampleCaptions"
                                        th:attr="data-bs-slide-to=${iter.index}"
                                        th:class="${iter.index} == 0 ? 'active': ''"
                                        th:attrappend="aria-label='Slide ' + ${iter.index}"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item" th:classappend="${iter.index} == 0 ? 'active' : ''"
                                     th:each="image, iter : ${filmImages}">
                                    <figure>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block"
                                            th:src="@{{logoImage}(logoImage=${!#strings.isEmpty(image)} ? '/Kino_CMS_O_Lesyk/uploads/' + *{image} : '')}">
                                    </figure>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <th:block th:insert="~{fragments/publicPage.html :: context-advertising(heigth='200')}">

        </th:block>
    </div>
    <!-- Footer Section Start -->
    <th:block th:insert="~{fragments/publicPage.html :: footer}"></th:block>
    <!-- Footer Section End -->
</main>
<script>
    $(document).ready(function () {
        var images = $("img");
        for (var i = 0; i < images.length; i++) {
            if (!images[i].complete || images[i].naturalWidth === 0) {
                images[i].src = window.location.pathname.substring(0, 18) + 'image/placeholder_images.svg';
            }
        }
    });

    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('.nav-link');
    const menuLenght = menuItem.length
    for (let i = 0; i < menuLenght; i++) {
        if (menuItem[i].href === currentLocation) {
            menuItem[i].className = "nav-link active";
        }
    }
</script>
<script>
    $(document).ready(function () {
        const daysOfWeek = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'];
        const currentDate = new Date();

        $('.day').each(function (index) {
            const dayOfMonth = new Date(Date.now() + index * 24 * 60 * 60 * 1000);
            const dayOfWeekIndex = (currentDate.getDay() + index) % 7;
            const monthNames = ['Січня', 'Лютого', 'Березня', 'Квітня', 'Травня', 'Червня', 'Липня', 'Серпня', 'Вересня',
                'Жовтня', 'Листопада', 'Грудня'];
            const currentMonth = monthNames[dayOfMonth.getMonth()];

            $(this).find('.numberDay').text(`${dayOfMonth.getUTCDate()} ${daysOfWeek[dayOfWeekIndex]}`);
            $(this).find('.currentMonth').text(currentMonth);
        });
    });
</script>
<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->

<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>