<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{label.menu.poster}">Афіша</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>

</head>
<body class="">
<span class="screen-darken"></span>
<!-- loader Start -->
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<!-- loader END -->
<main class="main-content">

    <!--Nav Start-->
    <th:block th:insert="~{fragments/publicPage.html :: navFirstLevel}"></th:block>
    <th:block th:insert="~{fragments/publicPage.html :: navSecondLevel}"></th:block>
    <!--Nav End-->

    <div class="container-xl d-flex mt-4">
        <div class="left-sidebar d-flex flex-column p-3">
            <ul class="nav nav-tabs nav-fill mb-auto flex-column" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" th:href="@{/poster/now}">
                        <span class="item-name" th:text="#{label.menu.poster}"></span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" th:href="@{/poster/soon}">
                        <span class="item-name" th:text="#{label.menu.soon}"></span>
                    </a>
                </li>
            </ul>
        </div>
        <article class="film-list-poster">
            <div class="mx-auto film-list-show">
                <div class="col-3 film-item" th:each="film, iter : ${filmList}">
                    <div class="col image-block">
                        <figure class="film-item-img m-0">
                            <a th:href="@{/film/{id}(id=*{film.id})}">
                                <img th:src="@{/uploads/{logoImage}(logoImage=*{film.mainImage})}"
                                     class="figure-img img-fluid rounded" loading="eager" alt="file"> </a>
                        </figure>
                    </div>
                    <p th:text="*{film.name}"></p>
                    <button class="btn btn-sm btn-soft-success mt-1" th:text="#{buy-ticket}"></button>
                </div>
            </div>
        </article>
    </div>
    <!-- Footer Section Start -->
    <th:block th:insert="~{fragments/publicPage.html :: footer}"></th:block>
    <!-- Footer Section End -->
</main>
<script>
    $(document).ready(function () {
        var images = $("img");
        for (var i = 0; i < images.length; i++) {
            // Перевіряємо, чи вдалося завантажити зображення
            if (!images[i].complete || images[i].naturalWidth === 0) {
                // Якщо зображення не завантажилося, замінюємо його на плейсхолдер
                images[i].src = window.location.pathname.substring(0, 18) + 'image/placeholder_images.svg';
            }
        }
    });

    const span = $(".tomorrow").text(function () {
        return new Date().toISOString().slice(0, 10);
    });

    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('.nav-link');
    const menuLenght = menuItem.length
    for (let i = 0; i < menuLenght; i++) {
        if (menuItem[i].href === currentLocation) {
            menuItem[i].className = "nav-link active";
        }
    }
</script>
<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>
<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>