<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фільми</title>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>

</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="fragments/sidebar"></aside>
<main class="main-content">
    <nav th:replace="fragments/navbar_admin"></nav>

    <div class="container-fluid" style="padding: 2rem;">
        <form class="needs-validation" th:method="post" th:object="${filmDTO}" novalidate
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <div class="d-flex justify-content-end col-2 ">
                    <div class="nav nav-tabs" role="tablist">
                        <button class="nav-link d-flex align-items-center" data-bs-toggle="tab" type="button" role="tab"
                                th:classappend="*{language.name()} == 'UKRAINIAN' ? 'active' : ''"
                                th:attrappend="aria-selected=(*{language.name()} == 'UKRAINIAN' ? true : false)"
                                onclick="updateLanguage('UKRAINIAN')">
                            UK
                        </button>
                        <button class="nav-link d-flex align-items-center" data-bs-toggle="tab" type="button" role="tab"
                                th:classappend="*{language.name()} == 'ENGLISH' ? 'active' : ''"
                                th:attrappend="aria-selected=(*{language.name()} == 'ENGLISH' ? true : false)"
                                onclick="updateLanguage('ENGLISH')">
                            EN
                        </button>
                    </div>
                </div>
            </div>
            <div class="row col-sm-11 my-4">
                <div class="col d-flex flex-row">
                    <label class="col-sm-3 col-form-label-sm">Назва фільму</label>
                    <div class="col-sm-9 flex-row">
                        <input type="text" th:field="*{name}"
                               class="form-control form-control-sm" required>
                        <div class="invalid-feedback">
                            Обов'язкове поле
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-row justify-content-end">
                    <label class="col-sm-3 col-form-label-sm">Період показу</label>
                    <div class="col-sm-7 form-group">
                        <input type="text" th:field="*{datePremiereFromTo}"
                               class="form-control form-control-sm range_flatpicker" placeholder="Виберіть дату показу"
                               required>
                        <div class="invalid-feedback">
                            Обов'язкове поле
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <label for="description" class="col-sm-1 col-form-label-sm">Опис</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" th:field="*{description}"
                              class="form-control" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Обов'язкове поле
                    </div>
                </div>
            </div>
            <div class="row col-11 row-cols-auto border image-block flex-row align-content-center">
                <label for="fileInput1" class="form-control-sm my-auto col-sm-2">Головна картинка</label>
                <figure class="figure">
                    <img th:src="@{/uploads/{mainImage}(mainImage=*{mainImage})}"
                         style="width: 14rem; height: 8rem;"
                         class="figure-img img-fluid rounded" id="mainImage"
                         loading="eager" alt="file">
                </figure>
                <button type="button" class="btn btn-outline-secondary btn-sm upload-button mx-5" id="uploadButton1">
                    Додати
                </button>
                <input type="file" class="file-input" id="fileInput1"
                       accept="image/png, image/jpg, image/jpeg" name="mainImage1">
                <button type="button" class="btn btn-outline-secondary btn-sm clear-image">Видалити</button>

            </div>
            <div class="row gallery-images">
                <div class="row label ">
                    <span class="form-control-sm">Галерея картинок</span>
                </div>
                <div class="row col-10 d-flex flex-row gap-2">
                    <div class="col d-flex align-items-center pb-5">
                        <span class="form-control-sm mt-4">Розмір 1000х190</span>
                    </div>
                    <div class="col image-block">
                        <figure style="max-height: calc(100% - 40px)">
                            <img th:src="@{/uploads/{image1}(image1=*{image1})}"
                                 class="figure-img img-fluid rounded" loading="eager" alt="file">
                        </figure>
                        <button type="button" class="btn btn-close btn-sm clear-image"></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm upload-button" id="uploadButton2">
                            Додати
                        </button>

                        <input type="file" id="fileInput2" class="file-input" accept="image/png, image/jpg, image/jpeg"
                               name="image11">
                    </div>
                    <div class="col image-block">
                        <figure style="max-height: calc(100% - 40px)">
                            <img th:src="@{/uploads/{image2}(image2=*{image2})}"
                                 class="figure-img img-fluid rounded"
                                 loading="eager" alt="file">
                        </figure>
                        <button type="button" class="btn btn-close btn-sm clear-image"></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm upload-button" id="uploadButton3">
                            Додати
                        </button>
                        <input type="file" id="fileInput3" class="file-input" accept="image/png, image/jpg, image/jpeg"
                               name="image21">
                    </div>
                    <div class="col image-block">
                        <figure style="max-height: calc(100% - 40px)">
                            <img th:src="@{/uploads/{image3}(image3=*{image3})}"
                                 class="figure-img img-fluid rounded"
                                 loading="eager" alt="file">
                        </figure>
                        <button type="button" class="btn btn-close btn-sm clear-image"></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm upload-button" id="uploadButton4">
                            Додати
                        </button>
                        <input type="file" id="fileInput4" class="file-input" accept="image/png, image/jpg, image/jpeg"
                               name="image31">
                    </div>
                    <div class="col image-block">
                        <figure style="max-height: calc(100% - 40px)">
                            <img th:src="@{/uploads/{image4}(image4=*{image4})}"
                                 class="figure-img img-fluid rounded"
                                 loading="eager" alt="file" id="12">
                        </figure>
                        <button type="button" class="btn btn-close btn-sm clear-image"
                                onclick="document.getElementById('12').src = ''"></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm upload-button" id="uploadButton5">
                            Додати
                        </button>
                        <input type="file" id="fileInput5" class="file-input" accept="image/png, image/jpg, image/jpeg"
                               name="image41">
                    </div>
                    <div class="col image-block">
                        <figure style="max-height: calc(100% - 40px)">
                            <img th:src="@{/uploads/{image5}(image5=*{image5})}"
                                 class="figure-img img-fluid rounded"
                                 loading="eager" alt="file" th:field="*{image5}">
                        </figure>
                        <button type="button" class="btn btn-close btn-sm clear-image"></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm upload-button" id="uploadButton6">
                            Додати
                        </button>
                        <input type="file" id="fileInput6" class="file-input" accept="image/png, image/jpg, image/jpeg"
                               name="image51">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-2 col-form-label-sm">Посилання на трейлер</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{urlVideo}"
                           class="form-control form-control-sm" required>
                    <div class="invalid-feedback">
                        Обов'язкове поле
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex flex-row">
                <label class="col-sm-2 col-form-label-sm">Тип кіно</label>
                <div class="col-sm-3 film-types d-flex flex-row align-items-baseline">
                    <div class="col-3 form-check form-check-inline" th:each="type, iter : ${filmTypes}">
                        <input type="checkbox" class="form-check-input" th:field="*{filmTypeList}" name="filmTypes"
                               th:value="${type.name()}">
                        <label class="form-label" th:text="${type.description}"></label>
                    </div>
                </div>
                <a th:href="@{/admin/edit-details/{id}(id=${filmDTO.id})}" id="addDetails"
                   class="btn btn-success col-3">Додати деталі фільму</a>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <label class="col-form-label-sm">SEO блок</label>
                </div>
                <div class="col-10">
                    <div class="seo_block col-sm-10">
                        <div class="row">
                            <label for="seoUrl" class="col-sm-2 col-form-label-sm justify-content-end">SEO url:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoUrl" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoUrl}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                title:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoTitle" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoTitle}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                keywords:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoKeywords" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoKeywords}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoDescription" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                description:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoDescription" class="form-control form-control-lg col-sm-8"
                                       th:field="*{seoDescription}" style="height: 4rem">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-center mt-4">
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-primary">Зберегти
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-primary" onclick="window.history.back()">Відновити попередню версію
                        </button>
                    </div>
                </div>
                <div class="hidden">
                    <input type="hidden" th:field="*{id}" id="filmId">
                    <input type="hidden" th:field="*{language}">
                    <input type="hidden" th:field="*{translatePageId}">
                </div>
            </div>
        </form>
    </div>

</main>
<script>
    $(document).ready(function () {
        const filmId = $("#filmId").val();
        if (filmId < 1) {
            $("#addDetails").attr('data-bs-toggle', 'tooltip')
                .attr('data-bs-placement', 'top')
                .attr('title', 'Спочатку потрібно дододати фільм')
                .removeAttr('href')
                .attr('disabled')
        }
    });
</script>
<script>
    function updateLanguage(language) {
        var url = new URL(window.location.href);
        var params = url.searchParams;

        if (params.has('language')) {
            params.set('language', language);
        } else {
            params.append('language', language);
        }

        window.location.href = url.toString();
    }
</script>
<script type="text/javascript" th:src="@{/js/file-upload.js}"></script>


<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

<script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
<script th:src="@{/assets/js/plugins/flatpickr.js}" defer></script>

<script th:src="@{/assets/js/plugins/prism.mini.js}"></script>

</body>
</html>
