<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фільми</title>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}"/>


</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="fragments/sidebar"></aside>
<main class="main-content">
    <nav th:replace="fragments/navbar_admin"></nav>


    <div class="container-xl mx-auto p-3">
        <div class="row justify-content-end">
            <div class="col-3">
                <a th:href="@{/admin/edit-film/0}" class="btn btn-outline-primary">
                    <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0001 8.32739V15.6537" stroke="currentColor" stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M15.6668 11.9904H8.3335" stroke="currentColor" stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.6857 2H7.31429C4.04762 2 2 4.31208 2 7.58516V16.4148C2 19.6879 4.0381 22 7.31429 22H16.6857C19.9619 22 22 19.6879 22 16.4148V7.58516C22 4.31208 19.9619 2 16.6857 2Z"
                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                    Додати фільм
                </a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col d-flex justify-content-center text-bg-light">
                <span class="h3 p-2">Показують зараз</span>
            </div>
        </div>
        <div class="mx-auto film-list">
            <div class="col-2 fiml-item" th:each="film, iter : *{filmIsReleasedNow}">
                <div class="col image-block">
                    <figure>
                        <a th:href="@{/admin/edit-film/{id}(id=*{film.id})}">
                            <img th:src="@{/uploads/{logoImage}(logoImage=*{film.mainImage})}"
                                 class="figure-img img-fluid rounded" loading="eager" alt="file"> </a>
                    </figure>
                </div>
                <span class="h5" th:text="*{film.name}"></span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col d-flex justify-content-center text-bg-light">
                <span class="h3 p-2">Скоро в прокаті</span>
            </div>
        </div>
        <div class="mx-auto film-list ">
            <div class="col-2 fiml-item" th:each="film, iter : *{filmReleasedSoon}">
                <div class="col image-block">
                    <figure>
                        <a th:href="@{/admin/edit-film/{id}(id=*{film.id})}">
                            <img th:src="@{/uploads/{logoImage}(logoImage=*{film.mainImage})}"
                                 class="figure-img img-fluid rounded" loading="eager" alt="file"> </a>
                    </figure>
                </div>
                <span class="h5" th:text="*{film.name}"></span>
            </div>
        </div>
    </div>
</main>
<!--copy href from link to button on modal-->
<script>
    function copyHref(el) {
        document.getElementById('deleteLink').href = el.nextElementSibling.getAttribute("href");
    }
</script>
<script type="text/javascript" th:src="@{/js/file-upload.js}"></script>

<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>