<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{our-cinema}"></title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico"/>

  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="/assets/css/core/libs.min.css"/>


  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="/assets/css/hope-ui.min.css?v=2.0.0"/>

  <!-- Custom Css -->
  <link rel="stylesheet" href="/assets/css/custom.min.css?v=2.0.0"/>

  <!-- Dark Css -->
  <link rel="stylesheet" href="/assets/css/dark.min.css"/>

  <!-- Customizer Css -->
  <link rel="stylesheet" href="/assets/css/customizer.min.css"/>

  <!-- RTL Css -->
  <link rel="stylesheet" href="/assets/css/rtl.min.css"/>
  <link rel="stylesheet" href="/css/myCustom.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body>
<span class="screen-darken"></span>
<!-- loader Start -->
<div id="loading">
  <div class="loader simple-loader">
    <div class="loader-body"></div>
  </div>
</div>
<!-- loader END -->
<main class="main-content">
  <!--Nav Start-->
  <th:block th:insert="~{fragments/publicPage.html :: navFirstLevel}"></th:block>
  <th:block th:insert="~{fragments/publicPage.html :: navSecondLevel}"></th:block>
  <article class="top-image mb-3">
    <figure>
      <img th:src="@{/image/Cinema-Movie-Teatre.jpg}" width="100%" height="450">
    </figure>
  </article>
  <!--Nav End-->
  <div class="container-xl">
    <article class="main-content-block">
      <div class="col my-4">
        <div class="col text-center">
          <h3 th:text="#{our-cinema}">Наші кінотеатри</h3>
        </div>
      </div>
      <div class="main">
        <div class="text-block d-flex" style="column-gap: 3rem; width: 100%">
          <div style="width: 78%;">
            <div class="cinemas-card-list d-grid grid-cols--2" style="row-gap: 4rem; column-gap: 2rem">
              <div class="cinema-card" th:each="cinema : ${allCinemaList}">
                <figure class="cinema-card-img rounded-1"
                        style="aspect-ratio: 1/1">
                  <img th:src="@{/uploads/{image}(image=${cinema.logoImage})}">
                </figure>
                <div class="cinema-card-title text-center">
                  <a class="h4" th:href="@{/cinemas/{cinemaId}(cinemaId=${cinema.id})}"
                     th:text="${cinema.name}"></a>
                </div>
              </div>
            </div>
          </div>
          <aside class="sidebar-right">
            <th:block
                    th:insert="~{fragments/publicPage.html :: context-advertising(heigth='200')}"></th:block>
            <th:block
                    th:insert="~{fragments/publicPage.html :: context-advertising(heigth='400')}"></th:block>
          </aside>
        </div>
      </div>
    </article>
  </div>
  <!-- Footer Section Start -->
  <th:block th:insert="~{fragments/publicPage.html :: footer}"></th:block>
  <!-- Footer Section End -->
</main>
<script>
  $(document).ready(function () {
    var images = $("img");
    for (var i = 0; i < images.length; i++) {
      if (!images[i].complete || images[i].naturalWidth === 0) {
        images[i].src = "/image/placeholder_images.svg";
      }
    }
  });
</script>

<!-- Library Bundle Script -->
<script src="/assets/js/core/libs.min.js"></script>
<!-- External Library Bundle Script -->
<script src="/assets/js/core/external.min.js"></script>
<!-- Widgetchart Script -->
<script src="/assets/js/charts/widgetcharts.js"></script>
<!-- mapchart Script -->
<script src="/assets/js/charts/vectore-chart.js"></script>
<script src="/assets/js/charts/dashboard.js"></script>
<!-- fslightbox Script -->
<script src="/assets/js/plugins/fslightbox.js"></script>
<!-- Settings Script -->
<script src="/assets/js/plugins/setting.js"></script>
<!-- Slider-tab Script -->
<script src="/assets/js/plugins/slider-tabs.js"></script>
<!-- Form Wizard Script -->
<script src="/assets/js/plugins/form-wizard.js"></script>

<!-- AOS Animation Plugin-->

<!-- App Script -->
<script src="/assets/js/hope-ui.js" defer></script>

</body>
</html>