img {
    /*background: url("/image/placeholder_images.svg") no-repeat scroll 0 0;*/
    object-fit: cover;
}

figure {
    overflow: hidden;
}

.choose_file {
    position: relative;
    display: inline-block;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: white
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.load_image {
    width: 90px;
}

.gallery-images img {
    width: 10rem;
    height: 7rem;
}
.gallery-images figure {
    max-height: calc(100% - 4rem);
}
.file-input {
    display: none;
}

.image-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.clear-image.btn-close {
    position: absolute;
    right: 0;
    top: -1rem;
    background-color: #fff;
    padding: .4rem;
    border-radius: 50%;
}
button.btn.btn-close.btn-sm.deleteRecord {
    position: absolute;
    right: 0;
    top: -1rem;
    background-color: #fff;
    padding: .4rem;
    border-radius: 50%;
}
.navbar-brand img {
    object-fit: initial;
}

.card-body {
    border: solid 0.1rem #0b1530;
    border-radius: .5rem;
}
.cinema-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}
.cinema-item figure:hover{
    transform: scale(1.1);
}
.cinema-item figure {
    margin: 0;
    transition: 0.4s;
}
.add-cinema svg {
    transition: 0.4s;
}
.add-cinema svg:hover {
    transform: scale(1.1);
}
.cinema-item figure img {
    width: 14rem;
    height: 8rem;
}
.cinema-list {
    display: flex;
    gap: 3rem 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.add-cinema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.film-list {
    display: flex;
    gap: 3rem 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

