<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all users</title>
</head>
<body>
        <h1>Form</h1>
<form th:action="register" th:method="post" th:object="${userForm}">

    <input type="text" th:field="*{id}" placeholder="ID">
    <input type="text" th:field="*{createTime}" placeholder="Create Time">
    <input type="email" th:field="*{email}" placeholder="Email">
    <input type="password" th:field="*{password}" placeholder="Password">
    <input type="text" th:field="*{userDetails}" placeholder="User Details">
    <button type="submit">Submit</button>

</form>

</body>
</html>