<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редагування сторінки</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/assets/css/core/libs.min.css"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/assets/css/hope-ui.min.css?v=2.0.0"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/custom.min.css?v=2.0.0"/>
    <!-- Dark Css -->
    <link rel="stylesheet" href="/assets/css/dark.min.css"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/assets/css/customizer.min.css"/>
    <!-- RTL Css -->
    <link rel="stylesheet" href="/assets/css/rtl.min.css"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" href="/assets/vendor/flatpickr/dist/flatpickr.min.css"/>
    <link rel="stylesheet" href="/css/myCustom.css">
</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="templateParts/sidebar"></aside>
<main class="main-content">
    <nav th:replace="templateParts/navbar_admin"></nav>

    <div class="container-fluid" style="padding: 2rem;">
        <form class="needs-validation" th:method="post" th:object="${aboutPage}" novalidate
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <div class="form-check form-switch form-check-inline col-1 my-auto">
                    <input class="form-check-input" type="checkbox" th:field="*{isActive}"/>
                </div>
                <div class="d-flex justify-content-end col-2 ">
                    <ul class="nav nav-tabs nav-tunnel nav-slider" data-toggle="slider-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active d-flex align-items-center" data-bs-toggle="tab"
                                    data-bs-target="#content-accordion-prv" type="button" role="tab"
                                    aria-selected="true">
                                UK
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                                    data-bs-target="#content-accordion-code" type="button" role="tab"
                                    aria-selected="false">
                                EN
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-4">
                <label for="title" class="col-sm-1 col-form-label-sm">Назва</label>
                <div class="col-sm-10">
                    <input type="text" id="title" th:field="*{title}"
                           class="form-control form-control-sm" rows="5" placeholder="Про кінотеатр" required>
                    <div class="invalid-feedback">
                        Обов'язкове поле
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <label for="description" class="col-sm-1 col-form-label-sm">Опис</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" th:field="*{description}"
                              class="form-control" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Обов'язкове поле
                    </div>
                </div>
            </div>
            <div class="row">
                <figure class="figure">
                    <img th:src="@{/uploads/{mainImage}(mainImage=*{mainImage})}" id="mainImage" class="figure-img img-fluid rounded" style="width: 15rem; height: 15rem"
                         loading="eager" alt="file">
                </figure>
                <input type="file" name="mainImage1" accept="image/vnd.sealedmedia.softseal.jpg"
                       onchange="loadFile(event)" class="form-control form-control-sm">

                <script>
                    const loadFile = function (event) {
                        const output = document.getElementById('mainImage');
                        output.src = URL.createObjectURL(event.target.files[0])
                        output.onload = function () {
                            URL.revokeObjectURL(output.src)
                        }
                    };
                </script>
            </div>
            <div class="choose_file">
                <button type="button" class="btn btn-outline-primary" style="width: 125px;">Choose Image</button>
                <input name="img" type="file" accept="image/*"/>
            </div>


            <div class="row mb-4">
                <div class="col-2">
                    <label class="col-form-label-sm">SEO блок</label>
                </div>
                <div class="col-10">
                    <div class="seo_block col-sm-10">
                        <div class="row">
                            <label for="seoUrl" class="col-sm-2 col-form-label-sm justify-content-end">SEO url:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoUrl" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoBlock.seoUrl}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                title:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoTitle" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoBlock.seoTitle}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                keywords:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoKeywords" class="form-control form-control-sm col-sm-8"
                                       th:field="*{seoBlock.seoKeywords}">
                            </div>
                        </div>
                    </div>
                    <div class="seo_block col-sm-10 mt-2">
                        <div class="row">
                            <label for="seoDescription" class="col-sm-2 col-form-label-sm justify-content-end">SEO
                                description:</label>
                            <div class="col-sm-10">
                                <input type="text" id="seoDescription" class="form-control form-control-lg col-sm-8"
                                       th:field="*{seoBlock.seoDescription}" style="height: 4rem">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="d-grid gap-2 col-3 mx-auto mt-3">
                        <button type="submit" class="btn btn-outline-primary">Зберегти
                        </button>
                    </div>
                </div>
                <div class="hidden">
                    <input type="hidden" th:field="*{seoBlock.id}">
                    <input type="hidden" th:field="*{createTime}">
                    <input type="hidden" th:field="*{pageType}">
                    <input type="hidden" th:field="*{language}">
                </div>
            </div>
        </form>
    </div>

</main>

<script src="/assets/js/core/libs.min.js"></script>

<!-- External Library Bundle Script -->
<script src="/assets/js/core/external.min.js"></script>

<!-- Widgetchart Script -->
<script src="/assets/js/charts/widgetcharts.js"></script>

<!-- mapchart Script -->
<script src="/assets/js/charts/vectore-chart.js"></script>
<script src="/assets/js/charts/dashboard.js"></script>

<!-- fslightbox Script -->
<script src="/assets/js/plugins/fslightbox.js"></script>

<!-- Settings Script -->
<script src="/assets/js/plugins/setting.js"></script>

<!-- Slider-tab Script -->
<script src="/assets/js/plugins/slider-tabs.js"></script>

<!-- Form Wizard Script -->
<script src="/assets/js/plugins/form-wizard.js"></script>

<!-- AOS Animation Plugin-->
<script src="/assets/vendor/aos/dist/aos.js"></script>
<!-- App Script -->
<script src="/assets/js/hope-ui.js" defer></script>

<!--<script type="text/javascript" th:src="@{/js/validate.js}"></script>-->
</body>
</html>