<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сторінки</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/assets/css/core/libs.min.css"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/assets/css/hope-ui.min.css?v=2.0.0"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/custom.min.css?v=2.0.0"/>
    <!-- Dark Css -->
    <link rel="stylesheet" href="/assets/css/dark.min.css"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/assets/css/customizer.min.css"/>
    <!-- RTL Css -->
    <link rel="stylesheet" href="/assets/css/rtl.min.css"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" href="/assets/vendor/flatpickr/dist/flatpickr.min.css"/>
</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="fragments/sidebar"></aside>
<main class="main-content">
    <nav th:replace="fragments/navbar_admin"></nav>

    <div class="container-fluid" style="padding: 2rem;">
        <div class="row justify-content-end">
            <div class="d-flex justify-content-end col-2 ">
                <ul class="nav nav-tabs nav-tunnel nav-slider" data-toggle="slider-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active d-flex align-items-center" data-bs-toggle="tab"
                                data-bs-target="#content-accordion-prv" type="button" role="tab"
                                aria-selected="true">
                            UK
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                                data-bs-target="#content-accordion-code" type="button" role="tab"
                                aria-selected="false">
                            EN
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card w-50 ms-3">
            <div class="card-header d-flex justify-content-center">
                <div class="header-title">
                    <h4 class="card-title">Створити нову сторінку</h4>
                </div>
            </div>
            <div class="card-body">
                <form class="needs-validation" th:method="post" th:object="${page}" novalidate>
                    <div class="row mb-4">
                        <label for="pageType" class="col-sm-3 col-form-label-sm">Тип сторінки</label>
                        <div class="col-sm-8">
                            <select class="form-select form-select-sm col-sm-9 text-capitalize"
                                    aria-label="form-select-lg"
                                    id="pageType" required
                                    th:field="*{pageType}">
                                <option value="">Оберіть тип нової сторінки</option>
                                <option th:each="type : ${pageTypes}"
                                        th:value="${type}"
                                        th:text="${type}"></option>
                            </select>
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="titleField" class="col-sm-3 col-form-label-sm">Назва сторінки</label>
                        <div class="col-sm-8">
                            <input type="text" id="titleField" class="form-control form-control-sm col-sm-8"
                                   th:field="*{title}">
                            <div class="invalid-feedback">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="d-grid gap-2 col-3 mx-auto mt-3">
                            <button type="submit" class="btn btn-outline-primary">Зберегти
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
    </div>
</main>

<script src="/assets/js/core/libs.min.js"></script>

<!-- External Library Bundle Script -->
<script src="/assets/js/core/external.min.js"></script>

<!-- Widgetchart Script -->
<script src="/assets/js/charts/widgetcharts.js"></script>

<!-- mapchart Script -->
<script src="/assets/js/charts/vectore-chart.js"></script>
<script src="/assets/js/charts/dashboard.js"></script>

<!-- fslightbox Script -->
<script src="/assets/js/plugins/fslightbox.js"></script>

<!-- Settings Script -->
<script src="/assets/js/plugins/setting.js"></script>

<!-- Slider-tab Script -->
<script src="/assets/js/plugins/slider-tabs.js"></script>

<!-- Form Wizard Script -->
<script src="/assets/js/plugins/form-wizard.js"></script>

<!-- AOS Animation Plugin-->
<script src="/assets/vendor/aos/dist/aos.js"></script>
<!-- App Script -->
<script src="/assets/js/hope-ui.js" defer></script>

</body>
</html>