<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сторінки</title>
    <link rel="stylesheet" th:href="@{/css/myCustom.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0.0}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0.0}"/>
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <!-- Flatpickr css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}"/>

</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside th:replace="fragments/sidebar"></aside>
<main class="main-content">
    <nav th:replace="fragments/navbar_admin"></nav>

    <div class="container-fluid" style="padding: 2rem;">
        <form class="needs-validation" th:method="post" th:object="${generalPage}" novalidate
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <th:block th:if="*{translatePageId == null and id != 0}">
                    <div class="alert alert-bottom alert-warning alert-dismissible fade show mb-3" role="alert">
                        <span>Відсутній переклад сторінки</span>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </th:block>
                <div class="form-check form-switch form-check-inline col-1 my-auto">
                    <input class="form-check-input" th:field="*{isActive}" type="checkbox"/>
                </div>
                <div class="d-flex justify-content-end col-2 ">
                    <div class="nav nav-tabs" role="tablist">
                        <button class="nav-link d-flex align-items-center" data-bs-toggle="tab" type="button" role="tab"
                                th:classappend="*{language.name()} == 'UKRAINIAN' ? 'active' : ''"
                                th:attrappend="aria-selected=(*{language.name()} == 'UKRAINIAN' ? true : false)"
                                onclick="updateLanguage('UKRAINIAN')">
                            UK
                        </button>
                        <button class="nav-link d-flex align-items-center" data-bs-toggle="tab" type="button" role="tab"
                                th:classappend="*{language.name()} == 'ENGLISH' ? 'active' : ''"
                                th:attrappend="aria-selected=(*{language.name()} == 'ENGLISH' ? true : false)"
                                onclick="updateLanguage('ENGLISH')">
                            EN
                        </button>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="titleField" class="col-sm-1 col-form-label-sm">Назва</label>
                    <div class="col-sm-10">
                        <input type="text" id="titleField" th:field="*{title}"
                               class="form-control form-control-sm" required>
                        <div class="invalid-feedback">
                            Обов'язкове поле
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="description" class="col-sm-1 col-form-label-sm">Опис</label>
                    <div class="col-sm-10">
                    <textarea type="text" id="description" th:field="*{description}"
                              class="form-control" rows="5" required></textarea>
                        <div class="invalid-feedback">
                            Обов'язкове поле
                        </div>
                    </div>
                </div>
                <div class="row row-cols-auto flex-row image-block justify-content-start gap-2">
                    <label for="fileInput1" class="form-control-sm my-auto ps-0">Головна картинка</label>
                    <figure class="figure ps-0" style="margin-left: 4.5vw;">
                        <img th:src="@{/uploads/{mainImage}(mainImage=*{mainImage})}"
                             style="width: 14rem; height: 8rem;"
                             class="figure-img img-fluid rounded" id="mainImage"
                             loading="eager" alt="file">
                    </figure>
                    <button type="button" class="btn btn-outline-secondary btn-sm upload-button ms-4"
                            id="uploadButton1">
                        Додати
                    </button>
                    <input type="file" class="file-input" id="fileInput1"
                           accept=".png,.jpg,.jpeg" name="mainImage1">
                    <button type="button" class="btn btn-outline-secondary btn-sm clear-image">Видалити</button>

                </div>
                <div class="row gallery-images">
                    <div class="row label">
                        <span class="form-control-sm">Галерея картинок</span>
                    </div>
                    <div class="row col-10 d-flex flex-row">
                        <div class="col ps-0">
                            <span class="form-control-sm">Розмір 1000х190</span>
                        </div>
                        <div class="col d-flex flex-column align-items-center image-block">
                            <figure style="max-height: calc(100% - 40px)">
                                <img th:src="@{/uploads/{image1}(image1=*{image1})}"
                                     class="figure-img img-fluid rounded" loading="eager" alt="file">
                            </figure>
                            <button type="button" class="btn btn-close btn-sm clear-image"></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm upload-button"
                                    id="uploadButton2">
                                Додати
                            </button>

                            <input type="file" id="fileInput2" class="file-input"
                                   accept=".png,.jpg,.jpeg"
                                   name="image11">
                        </div>
                        <div class="col d-flex flex-column align-items-center image-block">
                            <figure style="max-height: calc(100% - 40px)">
                                <img th:src="@{/uploads/{image2}(image2=*{image2})}"
                                     class="figure-img img-fluid rounded"
                                     loading="eager" alt="file">
                            </figure>
                            <button type="button" class="btn btn-close btn-sm clear-image"></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm upload-button"
                                    id="uploadButton3">
                                Додати
                            </button>
                            <input type="file" id="fileInput3" class="file-input"
                                   accept=".png,.jpg,.jpeg"
                                   name="image21">
                        </div>
                        <div class="col d-flex flex-column align-items-center image-block">
                            <figure style="max-height: calc(100% - 40px)">
                                <img th:src="@{/uploads/{image3}(image3=*{image3})}"
                                     class="figure-img img-fluid rounded"
                                     loading="eager" alt="file">
                            </figure>
                            <button type="button" class="btn btn-close btn-sm clear-image"></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm upload-button"
                                    id="uploadButton4">
                                Додати
                            </button>
                            <input type="file" id="fileInput4" class="file-input"
                                   accept=".png,.jpg,.jpeg"
                                   name="image31">
                        </div>
                        <div class="col d-flex flex-column align-items-center image-block">
                            <figure style="max-height: calc(100% - 40px)">
                                <img th:src="@{/uploads/{image4}(image4=*{image4})}"
                                     class="figure-img img-fluid rounded"
                                     loading="eager" alt="file" id="12">
                            </figure>
                            <button type="button" class="btn btn-close btn-sm clear-image"></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm upload-button"
                                    id="uploadButton5">
                                Додати
                            </button>
                            <input type="file" id="fileInput5" class="file-input"
                                   accept=".png,.jpg,.jpeg"
                                   name="image41">
                        </div>
                        <div class="col d-flex flex-column align-items-center image-block">
                            <figure style="max-height: calc(100% - 40px)">
                                <img th:src="@{/uploads/{image5}(image5=*{image5})}"
                                     class="figure-img img-fluid rounded"
                                     loading="eager" alt="file" th:field="*{image5}">
                            </figure>
                            <button type="button" class="btn btn-close btn-sm clear-image"></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm upload-button"
                                    id="uploadButton6">
                                Додати
                            </button>
                            <input type="file" id="fileInput6" class="file-input"
                                   accept=".png,.jpg,.jpeg"
                                   name="image51">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-2">
                        <label class="col-form-label-sm">SEO блок</label>
                    </div>
                    <div class="col-10">
                        <div class="seo_block col-sm-10">
                            <div class="row">
                                <label for="seoUrl" class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="seoUrl" class="form-control form-control-sm col-sm-8"
                                           th:field="*{seoUrl}">
                                </div>
                            </div>
                        </div>
                        <div class="seo_block col-sm-10 mt-2">
                            <div class="row">
                                <label for="seoTitle"
                                       class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="seoTitle" class="form-control form-control-sm col-sm-8"
                                           th:field="*{seoTitle}">
                                </div>
                            </div>
                        </div>
                        <div class="seo_block col-sm-10 mt-2">
                            <div class="row">
                                <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="seoKeywords" class="form-control form-control-sm col-sm-8"
                                           th:field="*{seoKeywords}">
                                </div>
                            </div>
                        </div>
                        <div class="seo_block col-sm-10 mt-2">
                            <div class="row">
                                <label for="seoDescription" class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="seoDescription" class="form-control form-control-lg col-sm-8"
                                           th:field="*{seoDescription}" style="height: 4rem">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="d-grid gap-2 col-3 mx-auto mt-3">
                            <button type="submit" class="btn btn-outline-primary">Зберегти
                            </button>
                        </div>
                    </div>
                    <div class="hidden">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{createTime}">
                        <input type="hidden" th:field="*{pageType}">
                        <input type="hidden" th:field="*{language}">
                        <input type="hidden" th:field="*{translatePageId}">

                    </div>
                </div>
            </div>
        </form>
    </div>

</main>
<script>
    function updateLanguage(language) {
        var url = new URL(window.location.href);
        var params = url.searchParams;

        if (params.has('language')) {
            params.set('language', language);
        } else {
            params.append('language', language);
        }

        window.location.href = url.toString();
    }
</script>
<script type="text/javascript" th:src="@{/js/file-upload.js}"></script>

<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>
